<div>
	<section id="newsSection">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="latest_newsarea">
					<span>తాజావార్తలు</span>
					<ul id="ticker01" class="news_sticker">
						<li><a href="#"><img src="images/news_thumbnail3.jpg"
								alt="">బేడీలు వేయటం పొరపాటే: మంత్రి</a></li>
						<li><a href="#"><img src="images/news_thumbnail3.jpg"
								alt="">ట్రిపుల్ తలాఖ్ అంటే... ఉరిశిక్ష లాంటిదే: సీజే</a></li>
						<li><a href="#"><img src="images/news_thumbnail3.jpg"
								alt="">అమ్మకానికి ‘అమరావతి’</a></li>
						<li><a href="#"><img src="images/news_thumbnail3.jpg"
								alt="">టీడీపీ ఎమ్మెల్సీ ఇళ్లలో సీబీఐ సోదాలు </a></li>
						<li><a href="#"><img src="images/news_thumbnail3.jpg"
								alt="">హీరోపై హత్యాబెదిరింపుల కేసు</a></li>
						<li><a href="#"><img src="images/news_thumbnail3.jpg"
								alt="">‘కేసుల ఉపసంహరణకు 132 జీవోలు’</a></li>
						<li><a href="#"><img src="images/news_thumbnail3.jpg"
								alt="">పనికిరారని ముద్ర వేసి.. టెకీలను పంపేస్తున్నారు</a></li>
						<li><a href="#"><img src="images/news_thumbnail3.jpg"
								alt="">సీబీఎస్‌ఈ స్కూళ్లలో ఆధార్‌ నమోదు కేంద్రాలు! </a></li>
						<li><a href="#"><img src="images/news_thumbnail2.jpg"
								alt="">రేపు పశ్చిమలో వైఎస్‌ జగన్‌ పర్యటన </a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section id="contentSection">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8">
				<div class="left_content">
					<h1 class="headingDesign">
						<span> ఆంధ్రప్రదేశ్</span>
					</h1>
					<div class="single_post_content">
						<div class="single_post_content_right">
							<ul class="spost_nav">
								<li ng-repeat="item in newsItems" class="contentcard">
									<div class="media wow fadeInDown">
										<a href="newsdescription.html" class="media-left"> <img
											alt="" src="images/post_img1.jpg">
										</a>
										<div class="media-body">

											<a ng-click="getNewsDescription({{item.itemId}})" href="newsdescription.html" class="catg_title">
												{{item.heading}} </a> <br>
											<p style="font-size: 10px;">{{item.createdDate}}</p>
											<p style="font-size: 13px; maxlength: 40">{{item.news}}</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<div class="right_content">
					<div class="single_sidebar">
						<ul class="spost_nav">
							<li class="contentcard">
								<div class="media wow fadeInDown">
									<a href="#" class="media-left"> <img alt=""
										src="images/post_img1.jpg">
									</a>
									<div class="media-body">
										<a href="#" class="catg_title"> ఏపీలో చంద్రబాబు మూడేళ్ల
											పాలన అస్తవ్యస్థంగా ఉందని వాసిరెడ్డి పద్మ విమర్శించారు. </a>
									</div>
									<ul class="sideheadingsdiv">
										<li>మనోడైతే నో కేస్‌</li>
										<li>అతివేగమే నిషిత్‌ ప్రాణం తీసింది...!</li>
										<li>అతివేగమే నిషిత్‌ ప్రాణం తీసింది...!</li>
										<li>మనోడైతే నో కేస్‌</li>
										<li>అతివేగమే నిషిత్‌ ప్రాణం తీసింది...!</li>
										<li>అతివేగమే నిషిత్‌ ప్రాణం తీసింది...!</li>
										<li>మనోడైతే నో కేస్‌</li>
										<li>అతివేగమే నిషిత్‌ ప్రాణం తీసింది...!</li>
										<li>అతివేగమే నిషిత్‌ ప్రాణం తీసింది...!</li>
										<li>మనోడైతే నో కేస్‌</li>
										<li>అతివేగమే నిషిత్‌ ప్రాణం తీసింది...!</li>
										<li>అతివేగమే నిషిత్‌ ప్రాణం తీసింది...!</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
					<div class="single_sidebar">
						<ul class="spost_nav">
							<li class="contentcard"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>