
<section id="newsSection">
	<div class="row">
		<div class="col-lg-12 col-md-12 ">
			<div class="latest_newsarea">
				<span>తాజావార్తలు</span>
				<ul id="ticker01" class="news_sticker">
					<!--  
					<li><a href="#"><img src="images/news_thumbnail3.jpg"
							alt="">బేడీలు వేయటం పొరపాటే: మంత్రి</a></li>
					<li><a href="#"><img src="images/news_thumbnail3.jpg"
							alt="">ట్రిపుల్ తలాఖ్ అంటే... ఉరిశిక్ష లాంటిదే: సీజే</a></li>
					<li><a href="#"><img src="images/news_thumbnail3.jpg"
							alt="">అమ్మకానికి ‘అమరావతి’</a></li>
					<li><a href="#"><img src="images/news_thumbnail3.jpg"
							alt="">టీడీపీ ఎమ్మెల్సీ ఇళ్లలో సీబీఐ సోదాలు </a></li>
					<li><a href="#"><img src="images/news_thumbnail3.jpg"
							alt="">హీరోపై హత్యాబెదిరింపుల కేసు</a></li>
					<li><a href="#"><img src="images/news_thumbnail3.jpg"
							alt="">‘కేసుల ఉపసంహరణకు 132 జీవోలు’</a></li>
					<li><a href="#"><img src="images/news_thumbnail3.jpg"
							alt="">పనికిరారని ముద్ర వేసి.. టెకీలను పంపేస్తున్నారు</a></li>
					<li><a href="#"><img src="images/news_thumbnail3.jpg"
							alt="">సీబీఎస్‌ఈ స్కూళ్లలో ఆధార్‌ నమోదు కేంద్రాలు! </a></li>
					<li><a href="#"><img src="images/news_thumbnail2.jpg"
							alt="">రేపు పశ్చిమలో వైఎస్‌ జగన్‌ పర్యటన </a></li>-->
				</ul>
			</div>
		</div>
	</div>
	-->
</section>
<section id="sliderSection">
	<div class="row">
		<div class="col-lg-12 col-md-12 ">
			<h2 class="mainheader">
				<span>ప్రధాన వార్తలు</span>
			</h2>
		</div>
		<div class="col-lg-7 col-md-12 col-sm-12">
			<div class="total_slider">
				<div class="card">
					<carousel interval="myInterval"> <slide
						ng-repeat="slide in slides1" active="slide.active"> <img
						ng-src="{{slide.image}}" style="width: 100%; height: 350px;">

					<div class="carousel-caption">బేడీలు వేయటం పొరపాటే: మంత్ర</div>
					</slide> </carousel>
					<!--      <img src="images/featured_img1.jpg" alt="Avatar" > -->
					<!--  <div class="cardcontainer">
                <h4><b>‘బాహుబలి-2’ చూడనున్న బీబర్‌</b></h4> 
                <p>ముంబయి: గ్లోబల్‌ పాప్‌స్టార్‌ జస్టిన్‌ బీబర్‌ ‘బాహుబలి-2’ సినిమా చూడబోతున్నాడట. వరల్డ్‌ టూర్‌ నిమిత్తం మంగళవారం రాత్రి ఒంటి గంట సమయంలో బీబర్‌ ముంబయి చేరుకున్నాడు. ఈ రోజు రాత్రి 8 గంటలకు డీవై పటేల్‌ స్టేడియంలో బీబర్‌ ప్రదర్శన ఇవ్వబోతున్నాడు. అయితే బీబర్‌ మరో మూడు రోజుల పాటు భారత్‌లో పర్యటించనున్నాడు. ఈ నేపథ్యంలో బీబర్‌ ‘బాహుబలి-2’.... </p> 
				
              </div> -->
					<!--  <div style="padding-right: 10px;text-align: right;padding-bottom: 10px;;"><a href="#" style="color: #337ab7;">మరిన్ని</a></div>  -->
				</div>
				<!-- <div class="hedings-text">
					ఫ్యాషన్
					</div> -->
			</div>
		</div>
		<div class="col-lg-5 col-md-12 col-sm-12">
			<div class="right_content">
				<!--   <h2 class="headingDesign" style="border-bottom:3px solid rgba(245, 245, 245, 0.32)"></h2> -->
				<div class="single_sidebar">
					<ul class="spost_nav">
						<li class="contentcard">
							<div class="media wow fadeInDown">
								<a href="newsdescription.html" class="media-left"> <img
									alt="" src="images/post_img1.jpg">
								</a>
								<div class="media-body">
									<a href="newsdescription.html" class="catg_title"> బేడీలు
										వేయటం పొరపాటే: మంత్రి</a>
								</div>
							</div>
						</li>
						<li class="contentcard">
							<div class="media wow fadeInDown">
								<a href="newsdescription.html" " class="media-left"> <img
									alt="" src="images/post_img2.jpg">
								</a>
								<div class="media-body">
									<a href="newsdescription.html" class="catg_title"> బేడీలు
										వేయటం పొరపాటే: మంత్రి</a>
								</div>
							</div>
						</li>
						<li class="contentcard">
							<div class="media wow fadeInDown">
								<a href="newsdescription.html" class="media-left"> <img
									alt="" src="images/post_img1.jpg">
								</a>
								<div class="media-body">
									<a href="newsdescription.html" class="catg_title"> బేడీలు
										వేయటం పొరపాటే: మంత్రి</a>
								</div>
							</div>
						</li>
						<li class="contentcard">
							<div class="media wow fadeInDown">
								<a href="newsdescription.html" class="media-left"> <img
									alt="" src="images/post_img2.jpg">
								</a>
								<div class="media-body">
									<a href="newsdescription.html" class="catg_title">
										మరికొద్ది గంటల్లో మూడో ప్రపంచ యుద్ధం! </a>
								</div>
							</div>
						</li>
					</ul>
					<div style="padding-right: 10px; text-align: right;">
						<a href="fasionList.html" style="color: #337ab7;">మరిన్ని</a>
					</div>
					<!--  -->
				</div>
			</div>
		</div>
	</div>
</section>
<section id="contentSection">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="left_content">
				<h2 class="headingDesign">
					<span>ఆంధ్రప్రదేశ్</span>
				</h2>
				<div class="single_post_content">
					<div class="single_post_content_right">
						<ul class="spost_nav">
							<li ng-repeat="item in mainItems[2].newsItems"
								class="contentcard">
								<div class="media wow fadeInDown">
									<a href="newsdescription.html" class="media-left"> <img
										alt="" src="images/post_img1.jpg">
									</a>
									<div class="media-body">
										<a href="newsdescription.html" class="catg_title">
											{{item.heading}}</a>
									</div>
								</div>
							</li>
						</ul>

					</div>
					<div ng-click="getItemsByCateogry(3)"
						style="padding-right: 10px; text-align: right; padding-bottom: 10px;">
						<a href="#!/andhra">మరిన్ని</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="right_content">
				<h2 class="headingDesign">
					<span>తెలంగాణ</span>
				</h2>
				<div class="single_sidebar">
					<ul class="spost_nav">
						<li ng-repeat="item in mainItems[3].newsItems" class="contentcard">
							<div class="media wow fadeInDown">
								<a href="newsdescription.html" class="media-left"> <img
									alt="" src="images/post_img1.jpg">
								</a>
								<div class="media-body">
									<a href="newsdescription.html" class="catg_title">
										{{item.heading}}</a>
								</div>
							</div>
						</li>


					</ul>
					<div ng-click="getItemsByCateogry(4)"
						style="padding-right: 10px; text-align: right; padding-bottom: 10px;">
						<a href="#!/telangana" style="color: #337ab7;">మరిన్ని</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="left_content">
				<h2 class="headingDesign">
					<span>సినిమాలు</span>
				</h2>
				<div class="single_post_content">
					<div class="single_post_content_right">
						<ul class="spost_nav">
							<li ng-repeat="item in mainItems[7].newsItems"
								class="contentcard">
								<div class="media wow fadeInDown">
									<a href="newsdescription.html" class="media-left"> <img
										alt="" src="images/post_img1.jpg">
									</a>
									<div class="media-body">
										<a href="newsdescription.html" class="catg_title">
											{{item.heading}}</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div ng-click="getItemsByCateogry(8)"
						style="padding-right: 10px; text-align: right; padding-bottom: 10px;">
						<a href="#!/movies" style="color: #337ab7;">మరిన్ని</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="right_content">
				<h2 class="headingDesign">
					<span>క్రీడలు</span>
				</h2>
				<div class="single_sidebar">
					<ul class="spost_nav">
						<li ng-repeat="item in mainItems[6].newsItems" class="contentcard">
							<div class="media wow fadeInDown">
								<a href="newsdescription.html" class="media-left"> <img
									alt="" src="images/post_img1.jpg">
								</a>
								<div class="media-body">
									<a href="newsdescription.html" class="catg_title">
										{{item.heading}}</a>
								</div>
							</div>
						</li>
					</ul>
					<div ng-click="getItemsByCateogry(7)"
						style="padding-right: 10px; text-align: right; padding-bottom: 10px;">
						<a style="color: #337ab7;" href="#!/sports">మరిన్ని</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="left_content">
				<h2 class="headingDesign">
					<span>జాతీయం</span>
				</h2>
				<div class="single_post_content">
					<div class="single_post_content_right">
						<ul class="spost_nav">
							<li ng-repeat="item in mainItems[1].newsItems"
								class="contentcard">
								<div class="media wow fadeInDown">
									<a href="newsdescription.html" class="media-left"> <img
										alt="" src="images/post_img1.jpg">
									</a>
									<div class="media-body">
										<a href="newsdescription.html" class="catg_title">
											{{item.heading}}</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div ng-click="getItemsByCateogry(2)"
						style="padding-right: 10px; text-align: right; padding-bottom: 10px;">
						<a href="#!/national" style="color: #337ab7;">మరిన్ని</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="right_content">
				<h2 class="headingDesign">
					<span> అంతర్జాతీయ</span>
				</h2>
				<div class="single_sidebar">
					<ul class="spost_nav">
						<li ng-repeat="item in mainItems[0].newsItems" class="contentcard">
							<div class="media wow fadeInDown">
								<a href="newsdescription.html" class="media-left"> <img
									alt="" src="images/post_img1.jpg">
								</a>
								<div class="media-body">
									<a href="newsdescription.html" class="catg_title">
										{{item.heading}}</a>
								</div>
							</div>
						</li>
					</ul>
					<div ng-click="getItemsByCateogry(1)"
						style="padding-right: 10px; text-align: right; padding-bottom: 10px;">
						<a href="#!/international" style="color: #337ab7;">మరిన్ని</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="left_content">
				<h2 class="headingDesign">
					<span>విద్య</span>
				</h2>
				<div class="single_post_content">
					<div class="single_post_content_right">
						<ul class="spost_nav">
							<li ng-repeat="item in mainItems[5].newsItems"
								class="contentcard">
								<div class="media wow fadeInDown">
									<a href="newsdescription.html" class="media-left"> <img
										alt="" src="images/post_img1.jpg">
									</a>
									<div class="media-body">
										<a href="newsdescription.html" class="catg_title">
											{{item.heading}}</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div ng-click="getItemsByCateogry(6)"
						style="padding-right: 10px; text-align: right; padding-bottom: 10px;">
						<a href="#!/study" style="color: #337ab7;">మరిన్ని</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="right_content">
				<h2 class="headingDesign">
					<span>ఉద్యోగాలు</span>
				</h2>
				<div class="single_sidebar">
					<ul class="spost_nav">
						<li ng-repeat="item in mainItems[4].newsItems" class="contentcard">
							<div class="media wow fadeInDown">
								<a href="newsdescription.html" class="media-left"> <img
									alt="" src="images/post_img1.jpg">
								</a>
								<div class="media-body">
									<a href="newsdescription.html" class="catg_title">
										{{item.heading}}</a>
								</div>
							</div>
						</li>
					</ul>
					<div ng-click="getItemsByCateogry(5)"
						style="padding-right: 10px; text-align: right; padding-bottom: 10px;">
						<a href="#!/jobs" style="color: #337ab7;">మరిన్ని</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>